<html>
    <h1>
        Bienvenido al Sistema de Gestión Curricular
    </h1>
    <br/>

    {% if user.is_authenticated  %}
    <h2>Bienvenido {{user.username}}! </h2>
    <a href="/cursos"> Listado  de Cursos Disponibles este semestre</a>
    <p><a href="{% url 'logout' %} ">logout</a></p>
    {% else %}
    <p> Para acceder al sistema debes ingresar tu usuario y clave</p>
    <a href="{% url 'login'%}" > login </a>
    <p> Si no tienes un usuario puedes registrarte </p>
    <a href=" {% url 'signup'%}"> signup</a>
    {% endif %} 

    
</html>